/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  /* background-color: #f9f9f9; */
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  /* background-color: #007bff; */
  /* background-color: blueviolet; */
  background-color: #000000;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  /* background-color: #0056b3; */
  /* background-color: rgb(59, 52, 66); */
  background-color: #5b503f;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Typography */
h1,
h2,
h3 {
  color: #222;
}

.error {
  color: red;
  margin-bottom: 10px;
}

/* Grid Layout */
.grid {
  display: grid;
  gap: 20px;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Mobile View */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header nav a {
    margin: 5px 0;
  }

  .product-card img {
    height: 120px;
  }

  .product-details img {
    height: 200px;
  }
}

/* Not Found */
.not-found {
  /* background-color: aqua; */
  padding: 20%;
  flex-direction: column;
  text-align: center;
}