.footer {
  /* background-color: #007bff; */
  /* background-color: burlywood; */
  /* background-color: turquoise; */
  /* background-color: blueviolet; */
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20px;
}

.footer-content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer a {
  /* color: #ffd700; */
  color: rgb(0, 0, 0);
  margin: 0 5px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #fff;
}