.product-listing {
  padding: 50px;
  padding-bottom: 05%;
}

.filters {
  padding-top: 02%;
  padding-bottom: 03%;
  font-size: large;
}

.opt{
  background-color: #050505;
}

/* .opt:hover{
  background-color: yellow;
} */

.opt:hover {
  /* transform: translateY(-5px); */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); /* Optional hover effect */
}

.category {
  padding-right: 05%;
  padding-top: 0.5%;
  margin-left: 05px;
  margin-right: 20px;
  height: fit-content;
}

.minprice {
  /* padding-right: 05%; */
  padding-top: 0.5%;
  margin-left: 05px;
  margin-right: 20px;
  height: fit-content;
}

.maxprice {
  /* padding-right: 05%; */
  padding-top: 0.5%;
  margin-left: 05px;
  margin-right: 20px;
  height: fit-content;
}

.product-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: white; */
  background-color: #fbf7f1;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  /* transform: translateY(-5px); */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); /* Optional hover effect */
}

.product-card img {
  width: 100%;
  /* height: 150px; */
  height: 180px;
  object-fit: cover;
  /* object-fit: contain; */
  border-radius: 8px;
}

.product-card h3 {
  padding: 10px;
  font-size: 1.2rem;
}

/* .product-card p {
  padding: 0 10px;
  color: #555;
  font-size: 1.1rem;
  margin-top: 5px;
} */

.product-card button {
  margin: 10px;
  width: calc(100% - 20px);
  background-color: #050505;
}

/* In ProductListing.css */
.product-card-link {
  display: block; /* Make the Link behave like a block-level element */
  text-decoration: none; /* Remove underline from the Link */
  color: inherit;
}

.product-card-link:hover {
  cursor: pointer;
  opacity: 0.8; /* Optional: Add hover effect */
}

/* 
.product-card {  
  padding: 20px;
  height: 350px;  
}

.product-card h3 {
  font-size: 1.2rem;
  margin-top: 10px;
} */

.view-details-btn {
  /* background-color: #007bff; */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: auto; /* Pushes button to the bottom */
  cursor: pointer;
  text-align: center;
}

/* .view-details-btn:hover {
  background-color: #541b80;
} */